.container {
  display: flex;
  justify-content: space-between;
}

.leftPane {
  /* width: 50%; */
  background-color: darkgreen;
  opacity: 75%;
  color: aliceblue;
  padding: 5px;
  border-radius: 10px;
}

.ingredientList {
  margin-bottom: 0px;
}

.rightPane {
  width: 100%;
  margin-left: 20px;
  /* margin-top: 100px; */
  display: flex;
  
}

.order {
  background-color: antiquewhite;
  opacity: 75%;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
  display: inline-block;
  width: 100%;
  height: fit-content;
  color: #ca0404;
}

.orderTotalDisplay {
  align-self:auto;
  width: 80%;
  margin-left: 10px;
}