body {
  background: linear-gradient(to top left, #e4e4e4, #c5c5c5);
}

.jumbotron {
  padding: 5px 20px;
  background: linear-gradient(to top left, #7a0808, #c22a2a);
  width: 90%;
  margin: auto;
  border-radius: 48%;
  color: antiquewhite;
  font-family: fantasy;
}

.container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-family: fantasy;
}

.leftPane {
  /* width: 50%; */
  background-color: darkgreen;
  opacity: 75%;
  color: aliceblue;
  padding: 10px;
  border-radius: 10px;
  font-size: 18px;
  font-family: fantasy;
}

.ingredientList {
  margin-bottom: 0px;
}

.rightPane {
  width: 100%;
  margin-left: 10px;
  display: flex;
  padding: 10px;

}

.order {
  background-color: antiquewhite;
  opacity: 75%;
  border-radius: 10px;
  text-align: center;
  display: inline-block;
  width: 100%;
  height: fit-content;
  color: #ca0404;
  font-size: 18px;
  padding: 10px 10px;
}

.orderTotalDisplay {
  width: 80%;
  height: fit-content;
  margin-left: 10px;
  background-color: #990d0d;
  font-size: 18px;
  text-align: center;
  color: antiquewhite;
  border-radius: 10px;
  padding: 10px 10px;
}

legend {
  padding-top: 10px;
}
